*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.private-title-svg-div{
    display: flex;
    align-items: center;
}
.results-wrapper{
    margin-top: 2px;
    position: absolute;
    width: 100%;
    max-height: 70vh;
    overflow-y: scroll;
}
.suggestions{
    background-color:white;
    width: 100%;
}
.suggestions:hover{
    background-color:rgba(211, 211, 211,0.2);
}
.suggestions p{
    text-align: left;
}
.title{
    font-weight: 700;
    font-size: 14px;
}
.svg{
    font-size: 14px;
    margin-right: 14px;
}
.input-wrapper{
    position: relative;
}
.cross-btn{
    position: absolute;
    top: 30%;
    right: 20px;
    border: none;
    background: none;
    cursor: pointer;
}